<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.ubt.alpha1e.edu"
          android:versionCode="2"
          android:versionName="V1.0.0.2">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21"/>

    <meta-data
        android:name="design_width"
        android:value="1920"></meta-data>
    <meta-data
        android:name="design_height"
        android:value="1080"></meta-data>

    <permission
        android:name="com.ubt.alpha1e.edu.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.ubt.alpha1e.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:name="com.ubt.alpha1e.edu.AlphaApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:exported="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="528c630705171445d20ec6bc60e925e1"/>
        <meta-data
            android:name="com.ubt.alpha1e.edu.isDebug"
            android:value="0"/>
        <meta-data
            android:name="com.ubt.alpha1e.edu.logTitle"
            android:value=""/>
        <meta-data
            android:name="com.ubt.alpha1e.edu.currentEdit"
            android:value="formal_edit"/>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5699e54fe0f55a1375000682"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2"/>

        <receiver android:name="com.ubt.alpha1e.edu.services.OSStartBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.ubt.alpha1e.edu.services.GetResourcesService"
            android:enabled="true"/>
        <service android:name="com.ubt.alpha1e.edu.services.ActivationService"/>
        <service android:name="com.ubt.alpha1e.edu.services.RecordSoftService"/>
        <service android:name="com.ubt.alpha1e.edu.services.AutoScanConnectService"/>
        <service android:name="com.ubt.alpha1e.edu.services.SyncDataService"/>
        <service android:name="com.ubt.alpha1e.edu.services.HibitsAlertService"/>
        <service android:name="com.ubt.alpha1e.edu.services.SendClientIdService"/>
        <service android:name="com.ubt.alpha1e.edu.services.GlobalMsgService"/>

        <!-- Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:ignore="ManifestResource"/>

        <!-- <meta-data -->
        <!-- android:name="com.facebook.sdk.ApplicationId" -->
        <!-- android:value="937563019632261" /> -->

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- Alpha1s FacebookContentProvider1533377826954209 改包名后 Alpha1e FacebookContentProvider1533377826954208 -->
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1533377826954207"
            android:exported="true"/>

        <activity
            android:name="com.ubt.alpha1e.edu.ui.main.MainActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreenuser"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.StartInitSkinActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleThemeFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="alpha1"
                    android:port="8080"
                    android:scheme="ubtrobot"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.Introduction.IntroductionActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.StartActivityNew"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.PcUpdateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.PcUpdateFinishActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
<!--        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="1106515940"/>
            </intent-filter>
        </activity>-->
        <!--
            <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        -->
       <!-- <activity
            android:name="com.tencent.ai.tvs.ui.TVSAssistActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>-->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.PrivateInfoActivity"
            android:label="@string/title_activity_private_info"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.FindPassWdActivity"
            android:label="@string/title_activity_find_pass_wd"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.ScanActivity"
            android:label="@string/title_activity_scan"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.RemoteSelActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.RemoteAddActivity"
            android:label="@string/title_activity_remote_add"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.RemoteRoleActionsAddActivity"
            android:label="@string/title_activity_remote_role_actions_add"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.RemoteSetActivity"
            android:label="@string/title_activity_remote_set"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.RemoteActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.MyMainActivity"
            android:label="@string/title_activity_my_main"
            android:screenOrientation="portrait"
            android:theme="@style/NoAnimationTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.PrivateInfoShowActivity"
            android:label="@string/title_activity_private_info_edit"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <!--<activity android:name="com.ant.country.CountryActivity"/>-->
        <activity
            android:name="com.ubt.alpha1e.edu.ui.PrivateInfoEditActivity"
            android:label="@string/title_activity_private_info_edit"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.WebContentActivity"
            android:label="@string/title_activity_about_us"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.SettingActivity"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.RobotInfoActivity"
            android:label="@string/title_activity_robot_rename"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.utils.test.MyTestActivity"
            android:label="@string/title_activity_my_test"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.FeedBackActivity"
            android:label="@string/title_activity_feed_back"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.utils.test.TestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.business.thrid_party.TwitterWebView"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.MessageActivity"
            android:label="@string/title_activity_message"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.utils.test.MessageTestActivity"
            android:label="@string/title_activity_message_test"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.RobotVersionActivity"
            android:label="@string/title_activity_robot_version"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.RoborRenameActivity"
            android:label="@string/title_activity_robor_rename"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.utils.test.EngTestActivity"
            android:label="@string/title_activity_eng_test"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.ActionsEditActivity"
            android:label="@string/title_activity_actions_edit"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.ActionsEditSaveActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:label="@string/title_activity_actions_edit_save"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"/>

        <activity
            android:name="com.ubt.alpha1e.edu.ui.MyThemeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.MyThemeInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.LanguageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.utils.test.DBActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.ActionsLibPreviewWebActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.ActionsSquareDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.MyActionsActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name="com.ubt.alpha1e.edu.utils.test.JNIActivity"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.MyActionsSyncActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.RobotConnectedActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.ActionsPublishActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.MediaRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.ImageDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.BannerDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.ActionUnpublishedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.VideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.RegisterNextStepActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"
            android:windowSoftInputMode="adjustResize"/>

        <service android:name="com.ubt.alpha1e.edu.ui.custom.FloatControlViewService"/>

        <activity
            android:name="com.ubt.alpha1e.edu.ui.RobotControlActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoAnimationTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.DubActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.DynamicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.MyActionsSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.MyDynamicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.ThemeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.OriginalListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.ContactUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.userinfo.myrobot.MyRobotActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.blockly.BlocklyActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeForBlock"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.ubt.alpha1e.edu.blockly.BlocklyCourseActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.ubt.alpha1e.edu.blockly.ScanBluetoothActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.RobotNetConnectActivity"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.CustomInstructionActivity"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.CustomInstructionSelActivity"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.CustomInstructionPlayTextActivity"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.edu.ui.CustomInstructionPlayActionActivity"
            android:theme="@style/NoTitleTheme"/>
        <!--
        <activity android:name=".blockly.TestBluetooth"
            android:theme="@style/NoTitleTheme"/>
        -->

        <activity
            android:name="com.ubt.alpha1e.edu.ui.ActionsNewEditActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.action.ActionsCreateActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.userinfo.mainuser.UserCenterActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            android:theme="@style/NoTitleThemeFullScreenuser"/>
        <activity
            android:name="com.ubt.alpha1e.edu.userinfo.useredit.UserEditActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.ubt.alpha1e.edu.login.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.ubt.alpha1e.edu.login.loginauth.LoginAuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="LoginAuthActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.ubt.alpha1e.edu.userinfo.helpfeedback.HelpFeedbackActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.ubt.alpha1e.edu.userinfo.helpfeedback.feedback.FeedbackActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.userinfo.helpfeedback.feedbackdetail.FeedbackDetailActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.webcontent.WebContentActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>

        <activity
            android:name="com.ubt.alpha1e.edu.community.CommunityActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>

        <activity
            android:name="com.ubt.alpha1e.edu.community.actionselect.ActionSelectActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>

        //dicy.cheng
        //蓝牙联网---开机引导
        <activity
            android:name="com.ubt.alpha1e.edu.bluetoothandnet.bluetoothguidestartrobot.BluetoothguidestartrobotActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        //蓝牙联网---蓝牙连接
        <activity
            android:name="com.ubt.alpha1e.edu.bluetoothandnet.bluetoothconnect.BluetoothconnectActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        //蓝牙联网---网络连接
        <activity
            android:name="com.ubt.alpha1e.edu.bluetoothandnet.netconnect.NetconnectActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        //蓝牙联网---连接状态
        <activity
            android:name="com.ubt.alpha1e.edu.bluetoothandnet.bluetoothandnetconnectstate.BluetoothandnetconnectstateActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        //蓝牙联网---搜索结果
        <activity
            android:name="com.ubt.alpha1e.edu.bluetoothandnet.netsearchresult.NetSearchResultActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
            android:name="com.ubt.alpha1e.edu.userinfo.aboutus.AboutUsActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.userinfo.cleancache.CleanCacheActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.userinfo.contactus.ContactUsActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.userinfo.photoshow.PhotoShowActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.userinfo.psdmanage.PsdManageActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.maincourse.main.MainCourseActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.maincourse.actioncourse.ActionCourseActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.course.principle.PrincipleActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.course.split.SplitActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.course.merge.MergeActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.course.feature.FeatureActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.behaviorhabits.BehaviorHabitsActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>

        <activity
            android:name="com.ubt.alpha1e.edu.behaviorhabits.playeventlist.PlayEventListActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name=".onlineaudioplayer.playEventListActivity.OnlineAudioEventListActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>

        <activity
        android:name="com.ubt.alpha1e.edu.action.actioncreate.ActionTestActivity"
        android:configChanges="orientation|keyboardHidden|navigation|screenSize"
        android:screenOrientation="landscape"
        android:launchMode="singleTop"
        android:theme="@style/NoTitleThemeFullScreen"/>

        <activity
            android:name="com.ubt.alpha1e.edu.maincourse.courseone.CourseLevelOneActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.maincourse.courseone.CourseLevelTwoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.maincourse.courseone.CourseLevelThreeActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.maincourse.courseone.CourseLevelFourActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>

        <activity
            android:name="com.ubt.alpha1e.edu.maincourse.courseone.CourseLevelFiveActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.maincourse.courseone.CourseLevelSixActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>

        <activity
            android:name="com.ubt.alpha1e.edu.maincourse.courseone.CourseLevelSevenActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>

        <activity
            android:name="com.ubt.alpha1e.edu.maincourse.courseone.CourseLevelEightActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>

        <activity
            android:name="com.ubt.alpha1e.edu.maincourse.courseone.CourseLevelNineActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>

        <activity
            android:name="com.ubt.alpha1e.edu.maincourse.courseone.CourseLevelTenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.maincourse.courseone.ActionsCourseSaveActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:label="@string/title_activity_actions_edit_save"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>


        <activity
            android:name="com.ubt.alpha1e.edu.action.actioncreate.SaveSuccessActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>

        <activity
            android:name="com.ubt.alpha1e.edu.action.help.HelpActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.bluetoothandnet.BluetoothHelp"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"></activity>

        <activity
            android:name="com.ubt.alpha1e.edu.userinfo.dynamicaction.ActionDetailActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.blocklycourse.BlocklyCourseActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.blocklycourse.courselist.CourseListActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name="com.ubt.alpha1e.edu.userinfo.notice.WebActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>

        <activity android:name="com.ubt.alpha1e.edu.login.PrivacyActivity"
                  android:configChanges="orientation|keyboardHidden|navigation|screenSize"
                  android:screenOrientation="landscape"
                  android:launchMode="singleTop"
                  android:theme="@style/NoTitleThemeFullScreen"/>
        <activity android:name="com.ubt.alpha1e.edu.behaviorhabits.StatisticsActivity"
                  android:configChanges="orientation|keyboardHidden|navigation|screenSize"
                  android:launchMode="singleTop"
                  android:screenOrientation="landscape"
                  android:theme="@style/NoTitleThemeFullScreen"/>



        <activity android:name="com.ubt.alpha1e.edu.onlineaudioplayer.categoryActivity.OnlineAudioPlayerActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity android:name="com.ubt.alpha1e.edu.onlineaudioplayer.searchActivity.OnlineResRearchActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>

        <activity android:name="com.ubt.alpha1e.edu.learningmode.LearningModeActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleThemeFullScreen"/>

    </application>

</manifest>