<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ubt.alpha1e"
    android:versionCode="1"
    android:versionName="V1.0.0.1">
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21"/>

    <permission
        android:name="com.ubt.alpha1e.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.ubt.alpha1e.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:name=".AlphaApplication"
        android:exported="true"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="528c630705171445d20ec6bc60e925e1"/>
        <meta-data
            android:name="com.ubt.alpha1e.isDebug"
            android:value="0"/>
        <meta-data
            android:name="com.ubt.alpha1e.logTitle"
            android:value=""/>
        <meta-data
            android:name="com.ubt.alpha1e.currentEdit"
            android:value="formal_edit"/>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5699e54fe0f55a1375000682"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>

        <receiver android:name=".services.OSStartBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".services.GetResourcesService"
            android:enabled="true"/>
        <service android:name=".services.ActivationService"/>
        <service android:name=".services.RecordSoftService"/>
        <service android:name=".services.AutoScanConnectService"/>








        <!-- Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:ignore="ManifestResource"/>

        <!-- <meta-data -->
        <!-- android:name="com.facebook.sdk.ApplicationId" -->
        <!-- android:value="937563019632261" /> -->

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- Alpha1s FacebookContentProvider1533377826954209 改包名后 Alpha1e FacebookContentProvider1533377826954208 -->
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1533377826954208"
            android:exported="true"/>
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen">
        </activity>
        <activity
            android:name=".ui.StartInitSkinActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleThemeFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="alpha1"
                    android:port="8080"
                    android:scheme="ubtrobot"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Introduction.IntroductionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name=".ui.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name=".ui.PcUpdateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.PcUpdateFinishActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="1106515940"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.tencent.ai.tvs.ui.TVSAssistActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ui.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ui.PrivateInfoActivity"
            android:label="@string/title_activity_private_info"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>

        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.FindPassWdActivity"
            android:label="@string/title_activity_find_pass_wd"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.ScanActivity"
            android:label="@string/title_activity_scan"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.RemoteSelActivity"
            android:label="@string/title_activity_remote_sel"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.RemoteAddActivity"
            android:label="@string/title_activity_remote_add"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.RemoteRoleActionsAddActivity"
            android:label="@string/title_activity_remote_role_actions_add"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.RemoteSetActivity"
            android:label="@string/title_activity_remote_set"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name=".ui.RemoteActivity"
            android:label="@string/title_activity_remote"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name=".ui.MyMainActivity"
            android:label="@string/title_activity_my_main"
            android:screenOrientation="portrait"
            android:theme="@style/NoAnimationTheme"/>
        <activity
            android:name=".ui.PrivateInfoShowActivity"
            android:label="@string/title_activity_private_info_edit"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity android:name="com.ant.country.CountryActivity"/>
        <activity
            android:name=".ui.PrivateInfoEditActivity"
            android:label="@string/title_activity_private_info_edit"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.WebContentActivity"
            android:label="@string/title_activity_about_us"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.SettingActivity"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name="com.ubt.alpha1e.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.RobotInfoActivity"
            android:label="@string/title_activity_robot_rename"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".utils.test.MyTestActivity"
            android:label="@string/title_activity_my_test"/>
        <activity
            android:name=".ui.FeedBackActivity"
            android:label="@string/title_activity_feed_back"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".utils.test.TestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".business.thrid_party.TwitterWebView"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.MessageActivity"
            android:label="@string/title_activity_message"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".utils.test.MessageTestActivity"
            android:label="@string/title_activity_message_test"/>
        <activity
            android:name=".ui.RobotVersionActivity"
            android:label="@string/title_activity_robot_version"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.RoborRenameActivity"
            android:label="@string/title_activity_robor_rename"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".utils.test.EngTestActivity"
            android:label="@string/title_activity_eng_test"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.ActionsEditActivity"
            android:label="@string/title_activity_actions_edit"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.ActionsEditSaveActivity"
            android:label="@string/title_activity_actions_edit_save"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.MyThemeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.MyThemeInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.LanguageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".utils.test.DBActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.ActionsLibPreviewWebActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ui.ActionsSquareDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.MyActionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity android:name=".utils.test.JNIActivity"/>
        <activity
            android:name=".ui.MyActionsSyncActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.RobotConnectedActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.ActionsPublishActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.MediaRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.ImageDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.BannerDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"/>
        <activity
            android:name=".ui.ActionUnpublishedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.VideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.RegisterNextStepActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"
            android:windowSoftInputMode="adjustResize"/>

        <service android:name=".ui.custom.FloatControlViewService"/>

        <activity
            android:name=".ui.RobotControlActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoAnimationTheme"/>
        <activity
            android:name=".ui.DubActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.DynamicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ui.MyActionsSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.MyDynamicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.ThemeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.OriginalListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"/>
        <activity
            android:name=".ui.ContactUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".blockly.BlocklyActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".blockly.BlocklyCourseActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".blockly.ScanBluetoothActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.RobotNetConnectActivity"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.CustomInstructionActivity"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.CustomInstructionSelActivity"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.CustomInstructionPlayTextActivity"
            android:theme="@style/NoTitleTheme"/>
        <activity
            android:name=".ui.CustomInstructionPlayActionActivity"
            android:theme="@style/NoTitleTheme"/>
        <!--
        <activity android:name=".blockly.TestBluetooth"
            android:theme="@style/NoTitleTheme"/>
        -->

        <activity
            android:name=".ui.ActionsNewEditActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name=".action.ActionsCreateActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name=".userinfo.mainuser.UserCenterActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"/>
        <activity
            android:name=".userinfo.useredit.UserEditActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"/>


        <activity
            android:name="com.ubt.alpha1e.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name="com.ubt.alpha1e.login.loginauth.LoginAuthActivity"
            android:label="LoginAuthActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            android:theme="@style/NoTitleThemeFullScreen"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />

        <activity
            android:name=".userinfo.helpfeedback.HelpFeedbackActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"/>

        <activity
            android:name=".userinfo.helpfeedback.feedback.FeedbackActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"/>

        <activity
            android:name=".userinfo.helpfeedback.feedbackdetail.FeedbackDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"/>

        <activity
            android:name=".userinfo.aboutus.AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"/>

        <activity
            android:name=".userinfo.cleancache.CleanCacheActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"/>

        <activity
            android:name=".userinfo.contactus.ContactUsActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"/>

        <activity
            android:name=".userinfo.psdmanage.PsdManageActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"/>

        <activity
            android:name=".course.CourseActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleThemeFullScreen"/>

        <!-- APP实现的Receiver，用于接收消息和结果反馈 -->
        <receiver android:name="com.ubt.alpha1e.xingepush.XGMessageRecevicer" >
            <intent-filter>
                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>

    </application>

</manifest>