build/*
alpha1e/build/*
alpha1e/*.apk
ChangeSkin/build/*
alpha1sGifLib/build/*
alpha1sLib/build/*
choseCountryNum/build/*
slidingmenu_library/build/*
weiboSDK/build/*
alphaQRLib/build/*
library/build/*
BaseLib/build/*
alpha1e-android-app.iml
.idea/*
.gradle/*
*.iml